<div>
  <p-menubar [model]="menuItems">
    <div>
      <input type="text" pInputText placeholder="Search">
      <button *ngIf="(isLoggedIn | async); else loggedOut" type="button" (click)="logOutUser()" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
      <ng-template #loggedOut>
        <button type="button" pButton (click)="OpenLoginDialog()" label="Login" icon="pi pi-power-off" style="margin-left:.25em"></button>
      </ng-template>
    </div>
  </p-menubar>
</div>
